build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

json-test-api/.bundle
json-test-api/db/*.sqlite3
json-test-api/db/*.sqlite3-journal
json-test-api/log/*.log
json-test-api/tmp
json-test-api/*.sw?
json-test-api/bundle
json-test-api/log
json-test-api/*.orig
json-test-api/public/assets/*
json-test-api/public/system/*
json-test-api/.DS_Store
json-test-api/*/.DS_Store
json-test-api/app/assets/javascripts/google_analytics.js.coffee
json-test-api/dump.rdb
json-test-api/.ruby-version
json-test-api/erd.pdf
json-test-api/db/seeds.rb