build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

.DS_Store
*/.DS_Store

api/.bundle
api/db/*.sqlite3
api/db/*.sqlite3-journal
api/log/*.log
api/tmp
api/*.sw?
api/bundle
api/log
api/*.orig
api/public/assets/*
api/public/system/*
api/app/assets/javascripts/google_analytics.js.coffee
api/dump.rdb
api/.ruby-version
api/erd.pdf
api/db/seeds.rb

front/node_modules
front/dist
front/.tmp
front/.sass-cache
front/bower_components
